{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "babel",
    "promise"
  ],
  "env": {
    "browser" : true
  },
  "rules": {
    "key-spacing"          : 0,
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"]
  }
}
