{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "import",
    "node",
    "promise",
    "react"
  ],
  "env": {
    "browser" : true,
    "mocha"   : true
  },
  "globals": {
    "expect"   : false,
    "should"   : false,
    "sinon"    : false,
    "__DEV__"  : false,
    "__PROD__" : false,
    "__TEST__" : false
  },
  "rules": {
    "key-spacing"          : 0,
    "jsx-quotes"           : [2, "prefer-single"],
    "comma-dangle"         : [2, "always-multiline"],
    "indent"               : [2, 2, { "SwitchCase": 1, "flatTernaryExpressions": true }],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"]
  }
}
